# Node.js
node_modules/
dist/
build/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
coverage/
/.vscode/
/.history/

# Optional OS/IDE files
Thumbs.db
*.swp
*.swo
*.idea/
*.iml
*.sublime-workspace
*.sublime-project

# TypeScript
*.tsbuildinfo
